.main-wrapper{
  background-color: yellow;
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success{
  background-color: green;
}

.danger{
  background-color: palevioletred;
}

.info {
  background-color: grey;
}

.error {
  color: red;
  background-color: whitesmoke;
}

.notice{
  background-color: aqua;
} 

.alert {
  background-color: red;
}

.messages{
  background-color: palegreen;
}

.custom-alert {
  background-color: palegoldenrod;
}